Makefile
config.h
config.log
config.status
libtool
sary.pc
sary.spec
sary/saryconfig.h
sary/version.c
stamp-h
sary/.libs/
*.lo
*.o
*.la
sary/version.c
src/.libs/
src/cache-test
src/cat-test
src/cat-test2
src/isearch-test
src/mksary
src/multi-test
src/repeated-test
src/sary
src/search-benchmark
tests/tmp.*
tests/repeated.txt.ary
